.nav-bar {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review {
    display: flex;
    justify-content: space-between;
    list-style: none;
    

}

