.nav-bar {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review {
    display: flex;
    justify-content: space-between;
    list-style: none;
    

}
*{
    padding: 10px;
    margin: 5%;
    text-align: center ;
    background-color: grey;
}
